In [1]:
from faker import Faker
import pandas as pd
faker= Faker(locale='en_US')
faker.locales

['en_US']

In [4]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
writer.close()

In [3]:
player_columns = ['bill_id','billing_month','units','bill_amount','due_date']

df = pd.DataFrame(columns=player_columns)
df

Empty DataFrame
Columns: [bill_id, billing_month, units, bill_amount, due_date]
Index: []

In [4]:
from datetime import datetime, timedelta

for i in range(1,501):
    # Generate a random month and year
    random_month = faker.random_int(min=1, max=12)
    random_year = faker.random_int(min=2010, max=datetime.now().year)  # Restrict to current year

    # Set the initial date as the first day of the generated month
    initial_date = datetime(random_year, random_month, 1)

    # Calculate due date 10 days later
    due_date = initial_date + timedelta(days=10)

    # Add the row to the DataFrame
    df = df.append({
        'bill_id': i,
        'billing_month': initial_date.strftime('%B %Y'),
        'units': faker.random_int(min=1, max=100),
        'bill_amount': faker.random_int(min=10000, max=50000),
        'due_date': due_date.strftime('%d-%m-%Y')
    },ignore_index=True)

In [5]:
#write dataframe to sheet called electricity_bill in csv

df.to_excel(writer,sheet_name='electricity_bill',index=False)

*Blocks Table*

In [7]:
block_names = ['A','B','C','D','E','F','G','H','I','J']

block_columns = ['block_id','block_number']

df = pd.DataFrame(columns=block_columns)

for i in range(1,11):
    df = df.append({
        'block_id':i,
        'block_number':block_names[i-1]
    },ignore_index=True)

In [8]:
df.to_excel(writer,sheet_name='blocks',index=False)

In [9]:
#Hostel_Blocks table
hostel_block_columns = ['hostel_id','block_id','number_floors','population','block_area']

df = pd.DataFrame(columns=hostel_block_columns)
for i in range(40):
    hostel_id = i % 4 + 1  # Repeat values from 1 to 4
    block_id = i % 10 + 1   # Repeat values from 1 to 10

    df = df.append({
        'hostel_id': hostel_id,
        'block_id': block_id,
        'number_floors': faker.random_int(min=1, max=8),
        'population': faker.random_int(min=1, max=200),
        'block_area': faker.random_int(min=1000, max=5000)
    }, ignore_index=True)

df

   hostel_id block_id number_floors population block_area
0          1        1             6         65       2020
1          2        2             1          1       1856
2          3        3             6         26       2938
3          4        4             4        100       3889
4          1        5             7        106       2543
5          2        6             1        131       1036
6          3        7             1        153       2592
7          4        8             3         32       2819
8          1        9             4          5       1565
9          2       10             6         66       2795
10         3        1             2        137       4100
11         4        2             6         52       4042
12         1        3             5        195       2856
13         2        4             6        187       4018
14         3        5             5         37       2591
15         4        6             2        165       2689
16         1        7             6        185       4087
17         2        8             7         26       4754
18         3        9             7          8       2521
19         4       10             1         56       2397
20         1        1             6        148       4258
21         2        2             7        128       2591
22         3        3             4        184       2816
23         4        4             4         64       2044
24         1        5             8         34       4874
25         2        6             2         62       3498
26         3        7             2         84       1554
27         4        8             7        152       4666
28         1        9             6        144       3174
29         2       10             4         71       3460
30         3        1             7        109       2626
31         4        2             4         56       1529
32         1        3             8        158       2768
33         2        4             6         66       2916
34         3        5             8        103       4782
35         4        6             7         26       4891
36         1        7             2        126       1401
37         2        8             7          6       1204
38         3        9             4         36       1641
39         4       10             7         41       4459

In [10]:
df.to_excel(writer, sheet_name= 'hostel_blocks',index=False)

**Hostel Table**

In [11]:
building_names = ["Tabba Building", "Aman Building", "Adamjee Building", "Paracha Building"]

# Create an empty DataFrame
hostel_df = pd.DataFrame(columns=['Hostel_id', 'building_name', 'Block_Name', 'number_floors'])

for i in range(1,5):
    hostel_df = hostel_df.append({
        'Hostel_id': i,
        'building_name': faker.random_element(elements=building_names),
    }, ignore_index=True)

hostel_df

  Hostel_id     building_name Block_Name number_floors
0         1    Tabba Building        NaN           NaN
1         2  Paracha Building        NaN           NaN
2         3    Tabba Building        NaN           NaN
3         4     Aman Building        NaN           NaN

In [12]:
hostel_df.to_excel(writer,sheet_name='hostel',index=False)

**Warden**

In [22]:
warden = ['warden_ID','first_name','last_name','hostel_id','number','email','gender','marital_status','date_of_birth']

df = pd.DataFrame(columns=warden)

first_name = ['Shah','Ahmed','Khan','Hassan']
last_name = ['Asif','Sikandar','Javad','Ali']
email = ['gmail.com','yahoo.com','hotmail.com','outlook.com']

for i in range(1,5):
    df = df.append({
        'warden_ID': i,
        'first_name': faker.random_element(elements=first_name),
        'last_name': faker.random_element(elements=last_name),
        'hostel_id': faker.random_int(min=1, max=4),
        'number': '0300' + str(faker.random_int(min=1000000, max=9999999)),
        'email': faker.email(),
        'gender':'Male',
        'marital_status': faker.random_element(elements=['Single', 'Married']),
        'date_of_birth': faker.date_of_birth(minimum_age=30, maximum_age=60).strftime('%d-%m-%Y')
    },ignore_index=True)

In [23]:
df

,warden_ID,first_name,last_name,hostel_id,number,email,gender,marital_status,date_of_birth
0,1,Shah,Ali,4,03004820126,cdorsey@example.org,Male,Married,03-02-1974
1,2,Hassan,Sikandar,4,03004979278,henrymark@example.org,Male,Single,26-10-1990
2,3,Hassan,Javad,4,03007268645,tjones@example.com,Male,Single,17-12-1969
3,4,Shah,Javad,1,03002537827,brandonparsons@example.net,Male,Single,26-12-1987

In [24]:
df.to_excel(writer,sheet_name='warden',index=False)

**Departments**

In [29]:
departments = pd.DataFrame(columns=['department_id', 'department_name','department_head'])
department_name = ['Economics','Mathematics','Business Administration','Computer Science','Finance','Social Sciences','Physics','Chemistry','Biology']

for i in range(len(department_name)+1):
    departments = departments.append({
        'department_id': i+1,
        'department_name': department_name[i-1],
        'department_head': faker.name()
    },ignore_index=True)

departments

  department_id          department_name       department_head
0             1                  Biology             Beth Rush
1             2                Economics      Melinda Gonzales
2             3              Mathematics         Caitlin Simon
3             4  Business Administration  Miss Elizabeth White
4             5         Computer Science  Mr. Zachary Thompson
5             6                  Finance        Billy Bartlett
6             7          Social Sciences    Christopher Vaughn
7             8                  Physics         Austin Torres
8             9                Chemistry           Eric Brewer
9            10                  Biology            Gary Adams

In [ ]:
departments.to_excel(writer,sheet_name='departments',index=False)

In [33]:
writer.close()

**teachers**

In [41]:
teachers =pd.DataFrame(columns=['teacherID', 'name', 'email', 'departmentID', 'phone_number', 'age', 'year_joined', 'marital_status', 'religion', 'gender', 'address'])

for i in range(100):
    teachers = teachers.append({
        'teacherID': i+1,
        'name': faker.name(),
        'departmentID': faker.random_int(min=1, max=10),
        'phone_number': '0300' + str(faker.random_int(min=1000000, max=9999999)),
        'age': faker.random_int(min=30, max=60),
        'year_joined': faker.date_this_century().year,
        'marital_status': faker.random_element(elements=['Single', 'Married','Divorced']),
        'religion': faker.random_element(elements=['Islam', 'Christianity', 'Hinduism', 'Sikhism', 'Buddhism']),
        'gender': faker.random_element(elements=['Male','Female']),
        'address': faker.address()
    },ignore_index=True)

for i in range(100):
    teachers['email'] = teachers['name'].str.replace(' ', '_').str.lower() + '@' + faker.random_element(elements=email)
    

teachers

,teacherID,name,email,departmentID,phone_number,age,year_joined,marital_status,religion,gender,address
0,1,James Vega,james_vega@hotmail.com,4,03001405476,48,2000,Married,Islam,Male,"23259 Kelsey Route\nHolmesfurt, WI 48262"
1,2,Sabrina Howe,sabrina_howe@hotmail.com,3,03001240399,56,2000,Divorced,Sikhism,Female,"50245 Myers Island Suite 580\nMichellechester,..."
2,3,James Sawyer,james_sawyer@hotmail.com,10,03006206666,51,2011,Married,Hinduism,Male,"7492 Harris Fall Apt. 016\nEast Carla, WV 54285"
3,4,Melissa Pruitt,melissa_pruitt@hotmail.com,6,03008628985,34,2003,Single,Hinduism,Female,"1294 Marie Streets Apt. 739\nGuzmanton, MP 18732"
4,5,Jeremy Hampton,jeremy_hampton@hotmail.com,3,03003145636,41,2008,Married,Christianity,Female,Unit 7922 Box 6772\nDPO AA 22164
...,...,...,...,...,...,...,...,...,...,...,...
95,96,Elizabeth Lowe,elizabeth_lowe@hotmail.com,2,03006741429,31,2000,Divorced,Islam,Male,"6418 Rice Extension Suite 689\nDannymouth, GU ..."
96,97,Rita Young,rita_young@hotmail.com,9,03005708648,47,2007,Single,Hinduism,Male,"345 Sarah Forks Suite 147\nRaymondberg, GA 47357"
97,98,Tina Douglas,tina_douglas@hotmail.com,5,03002669828,60,2010,Divorced,Christianity,Female,"0113 Smith Unions\nSouth Angela, OK 78534"
98,99,Joseph Russell,joseph_russell@hotmail.com,3,03009254930,49,2001,Married,Sikhism,Female,"632 Coleman Ridge Apt. 917\nRicardoton, NC 79051"
99,100,Mr. Jeffrey Johnson,mr._jeffrey_johnson@hotmail.com,6,03009173019,58,2021,Divorced,Islam,Female,"573 Bradford Viaduct Apt. 179\nNew Joshuaside,..."

In [42]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
teachers.to_excel(writer,sheet_name='teachers',index=False)
writer.close()

**research_area**

In [43]:
research_area = pd.DataFrame(columns=['research_area_id', 'research_area_name','description'])

for i in range(1,11):
    research_area = research_area.append({
        'research_area_id': i,
        'research_area_name': faker.catch_phrase(),
        'description': faker.text()
    },ignore_index=True)

research_area

,research_area_id,research_area_name,description
0,1,Multi-layered radical middleware,They staff can. Value matter financial do peac...
1,2,Cloned 5thgeneration project,Third writer raise budget maintain score prove...
2,3,Seamless modular project,Data home like weight military discuss. Their ...
3,4,Compatible empowering knowledgebase,Kid fire test join professor. Improve measure ...
4,5,Synchronized real-time protocol,Feel keep ten per follow get travel back. Chec...
5,6,Profound contextually-based service-desk,Choice water hotel sometimes. Growth several s...
6,7,Versatile full-range knowledge user,Task after example worker generation send. Age...
7,8,Phased needs-based forecast,Piece available wish and always argue almost. ...
8,9,Persevering encompassing array,Professor cover be since every five. Return en...
9,10,Customizable 5thgeneration leverage,East seat future concern miss conference. Writ...

In [44]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
research_area.to_excel(writer,sheet_name='research_area',index=False)
writer.close()

**Research_project**

In [46]:
research_proj = pd.DataFrame(columns=['project_id', 'project_name', 'research_area_id', 'budget', 'project_company'])

for i in range(1,26):
    research_proj = research_proj.append({
        'project_id': i,
        'project_name': faker.catch_phrase(),
        'research_area_id': faker.random_int(min=1, max=10),
        'budget': faker.random_int(min=100000, max=1000000),
        'project_company': faker.company()
    },ignore_index=True)

research_proj

,project_id,project_name,research_area_id,budget,project_company
0,1,Open-source needs-based functionalities,10,832071,Ross LLC
1,2,Implemented contextually-based encryption,2,338409,Willis Ltd
2,3,Centralized even-keeled benchmark,2,140301,Diaz Inc
3,4,Re-contextualized foreground Internet solution,8,858465,Rivas-Mosley
4,5,Grass-roots real-time structure,3,735241,Bush-Kirk
5,6,Cloned 24/7 structure,4,431567,Harris-Williams
6,7,Down-sized directional website,3,576675,Hall Group
7,8,Robust content-based ability,7,234796,Lyons Ltd
8,9,Reverse-engineered homogeneous matrix,7,883814,"Kline, Love and Sexton"
9,10,User-centric maximized secured line,1,616922,Hayes LLC
10,11,Multi-lateral tertiary product,9,469854,Hughes-Russell
11,12,De-engineered attitude-oriented project,7,719372,Pearson-Richmond
12,13,Versatile bandwidth-monitored implementation,10,970101,Wilson Ltd
13,14,Down-sized demand-driven focus group,10,538599,Hamilton-Hughes
14,15,Cloned 4thgeneration secured line,6,544801,Williams-Russell
15,16,Synchronized dedicated database,7,168294,Vasquez LLC
16,17,Devolved zero tolerance portal,9,988076,Oconnor Ltd
17,18,Organic heuristic definition,9,955313,Crawford and Sons
18,19,Multi-channeled web-enabled database,7,512599,Burnett-Ortiz
19,20,Fundamental radical open architecture,7,901622,"Fernandez, Gutierrez and Martinez"
20,21,Stand-alone hybrid service-desk,2,818466,"Webster, Scott and Olsen"
21,22,Fully-configurable 4thgeneration installation,4,959689,Mendez-Larson
22,23,Diverse even-keeled task-force,9,184749,Campbell Inc
23,24,Robust incremental database,6,792659,Gregory Group
24,25,Horizontal user-facing software,9,117460,Wise-Johnson

In [47]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
research_proj.to_excel(writer,sheet_name='research_proj',index=False)
writer.close()

**Teacher_Projects**

In [52]:
teacher_projects = pd.DataFrame(columns=['teacherID', 'project_id','date_started','date_ended'])

for i in range(1, 50):
    date_started = faker.date_this_century()
    date_ended = faker.date_between(start_date=date_started, end_date='+2y')  # Ensure date_ended is after date_started
    
    teacher_projects = teacher_projects.append({
        'teacherID': faker.random_int(min=1, max=100),
        'project_id': faker.random_int(min=1, max=25),
        'date_started': date_started.strftime('%d-%m-%Y'),
        'date_ended': date_ended.strftime('%d-%m-%Y')
    }, ignore_index=True)

print(teacher_projects)

   teacherID project_id date_started  date_ended
0         19         13   06-05-2010  22-04-2014
1         41         21   01-03-2009  11-08-2009
2         10         20   22-01-2021  16-06-2024
3         14         18   20-09-2003  02-11-2013
4         22          5   17-04-2014  19-11-2015
5         42         16   12-08-2018  26-11-2020
6          1          2   11-08-2021  01-02-2022
7        100          2   25-01-2016  11-03-2025
8         97         11   07-09-2000  01-09-2011
9         85         14   20-04-2018  02-10-2020
10        54         25   23-03-2005  30-09-2025
11        27         12   10-03-2002  22-06-2012
12        99          7   24-03-2020  05-02-2025
13        58          3   11-05-2018  23-01-2025
14         3         14   13-01-2010  08-04-2016
15        42          9   20-11-2015  02-08-2021
16       100          3   21-04-2017  02-06-2023
17        94         13   26-05-2013  09-02-2019
18        86         14   29-12-2016  21-04-2017
19        24          3   17-06-2011  16-06-2019
20        82         12   27-12-2009  11-02-2024
21        91         10   16-05-2022  14-04-2023
22        62          2   18-05-2021  21-02-2022
23        16         24   02-12-2008  22-02-2022
24        10         14   01-07-2002  02-07-2015
25         7         25   01-04-2004  10-12-2009
26        36         19   28-08-2016  31-05-2022
27        98          4   20-05-2014  22-07-2015
28        54         23   25-04-2010  23-06-2013
29        24         15   02-04-2017  15-04-2022
30        59         15   09-05-2015  30-06-2023
31        22          2   27-10-2002  14-02-2026
32        58         12   10-12-2015  08-04-2025
33        47          6   11-01-2008  18-12-2017
34        13         13   06-03-2012  07-06-2025
35        16          8   21-10-2023  15-10-2024
36        10          5   03-04-2006  17-06-2014
37        50         16   09-03-2001  24-05-2003
38        30         18   02-02-2011  02-06-2013
39         3         11   24-04-2009  20-11-2011
40         1          9   10-09-2023  26-01-2024
41        63         18   20-10-2009  12-01-2018
42        59         22   27-08-2021  17-11-2021
43        93         12   22-10-2009  23-12-2022
44        34          4   07-02-2006  03-10-2025
45        76         23   09-04-2018  02-04-2024
46        23         19   14-10-2019  24-03-2024
47        12          4   04-11-2013  29-03-2015
48         3          4   21-12-2008  03-06-2017

In [53]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
teacher_projects.to_excel(writer,sheet_name='teacher_projects',index=False)
writer.close()

**teacher_research**

In [54]:
teacher_research = pd.DataFrame(columns=['teacherID', 'research_area_id'])

for i in range(1, 100):
    teacher_research = teacher_research.append({
        'teacherID': i,
        'research_area_id': faker.random_int(min=1, max=10)
    }, ignore_index=True)

teacher_research

   teacherID research_area_id
0          1                6
1          2                3
2          3                4
3          4                5
4          5                6
..       ...              ...
94        95                6
95        96                4
96        97                8
97        98                2
98        99               10

[99 rows x 2 columns]

In [55]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
teacher_research.to_excel(writer,sheet_name='teacher_rsrch',index=False)
writer.close()

**Course**

In [56]:
course = pd.DataFrame(columns=['course_id', 'course_name', 'department_id', 'teacher_ID', 'credits','semester','description'])

for i in range(1, 300):
    course = course.append({
        'course_id': i,
        'course_name': faker.catch_phrase(),
        'department_id': faker.random_int(min=1, max=10),
        'teacher_ID': faker.random_int(min=1, max=100),
        'credits': faker.random_int(min=2, max=4),
        'semester': faker.random_element(elements=['Spring', 'Fall']),
        'description': faker.text()
    }, ignore_index=True)

course

,course_id,course_name,department_id,teacher_ID,credits,semester,description
0,1,Re-engineered content-based database,2,29,4,Spring,Style provide political management population ...
1,2,Synergistic methodical moderator,3,53,4,Fall,Public head capital everyone event threat toug...
2,3,Reactive zero administration artificial intell...,7,48,2,Spring,Guy economic bill smile environment. Although ...
3,4,Polarized uniform secured line,8,40,3,Spring,Determine store beyond. Home show door smile.\...
4,5,Mandatory clear-thinking Local Area Network,1,95,2,Fall,Individual design beautiful true statement gar...
...,...,...,...,...,...,...,...
294,295,Synergistic context-sensitive service-desk,3,7,4,Fall,Help service for cell. Real physical stay Mr f...
295,296,Quality-focused needs-based middleware,9,55,2,Spring,Much today anything at stuff last arrive. Sinc...
296,297,Cross-platform systematic adapter,9,44,4,Fall,Certainly run challenge bit. Career nor intere...
297,298,Profound logistical service-desk,9,86,3,Fall,Address throughout strong long baby. Trip cult...
298,299,Ameliorated system-worthy emulation,3,31,2,Spring,Our option above computer across security hims...

In [58]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
course.to_excel(writer,sheet_name='courses',index=False)
writer.close()

**Grade Distribution**

In [59]:
grade_dist = pd.DataFrame(columns=['dist_id','course_id', 'grade', 'studentCount'])

for i in range(1, 200):
    grade_dist = grade_dist.append({
        'dist_id': i,
        'course_id': faker.random_int(min=1, max=300),
        'grade': faker.random_element(elements=['A', 'B', 'C', 'D', 'F']),
        'studentCount': faker.random_int(min=20, max=40)
    }, ignore_index=True)

grade_dist

    dist_id course_id grade studentCount
0         1       137     F           37
1         2       200     B           37
2         3        28     D           38
3         4       121     F           37
4         5       100     A           36
..      ...       ...   ...          ...
194     195       125     F           29
195     196       199     C           38
196     197         9     D           24
197     198       168     C           24
198     199       266     A           29

[199 rows x 4 columns]

In [60]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
grade_dist.to_excel(writer,sheet_name='grade_dist',index=False)
writer.close()

**Degree**

In [4]:
degree = pd.DataFrame(columns=['degree_id', 'degree_name', 'department_id', 'duration','total_credits','degree_level','accreditation'])

degrees =['Economics','Mathematics','Business Administration','Computer Science','Finance','Social Sciences','Physics','Chemistry','BioChem','Pharmacy','Engineering','Electrical Engineering','Accounting and Finance']
for i in range(1, len(degrees)+1):
    degree = degree.append({
        'degree_id': i,
        'degree_name': degrees[i-1],
        'department_id': faker.random_int(min=1, max=10),
        'duration': faker.random_int(min=2, max=4),
        'total_credits': faker.random_int(min=130, max=148),
        'degree_level': faker.random_element(elements=['Undergraduate', 'Graduate']),
        'accreditation': faker.random_element(elements=['HEC', 'ABET', 'PEC'])
    }, ignore_index=True)


degree

,degree_id,degree_name,department_id,duration,total_credits,degree_level,accreditation
0,1,Economics,6,2,144,Undergraduate,ABET
1,2,Mathematics,5,4,137,Graduate,ABET
2,3,Business Administration,1,3,142,Undergraduate,ABET
3,4,Computer Science,2,4,139,Graduate,HEC
4,5,Finance,2,4,137,Undergraduate,ABET
5,6,Social Sciences,9,4,134,Graduate,PEC
6,7,Physics,2,3,144,Undergraduate,PEC
7,8,Chemistry,6,2,142,Undergraduate,ABET
8,9,BioChem,6,3,147,Undergraduate,HEC
9,10,Pharmacy,5,3,143,Undergraduate,ABET
10,11,Engineering,8,2,139,Graduate,PEC
11,12,Electrical Engineering,3,2,135,Graduate,HEC
12,13,Accounting and Finance,10,3,143,Undergraduate,ABET

In [6]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
degree.to_excel(writer,sheet_name='degrees',index=False)
writer.close()

**degree_courses**

In [10]:
degree_courses = pd.DataFrame(columns=['degree_id', 'course_id'])

for i in range(1, 301):
    degree_courses = degree_courses.append({
        'degree_id': faker.random_int(min=1, max=13),
        'course_id': i
    }, ignore_index=True)

degree_courses

    degree_id course_id
0           7         1
1           6         2
2           1         3
3           9         4
4           6         5
..        ...       ...
295         1       296
296         3       297
297         4       298
298         6       299
299        13       300

[300 rows x 2 columns]

In [11]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
degree_courses.to_excel(writer,sheet_name='degree_courses',index=False)
writer.close()

**Student**

In [20]:
student_df = pd.DataFrame(columns=[
    'studentERP', 'name', 'email', 'departmentID', 'marital_status', 'phone_number',
    'age', 'address', 'gender', 'date_joined', 'graduating_year', 'degree_ID', 'degree_status'
])

email = ['gmail.com','yahoo.com','hotmail.com','outlook.com']


for i in range(22000,23001):
    student_df = student_df.append({
        'studentERP': i,
        'name': faker.name(),
        'departmentID': faker.random_int(min=1, max=10),
        'marital_status': faker.random_element(elements=['Single', 'Married']),
        'phone_number': '0300' + str(faker.random_int(min=1000000, max=9999999)),
        'age': faker.random_int(min=18, max=30),
        'address': faker.address(),
        'gender' : faker.random_element(elements=['Male','Female']),
        'date_joined': faker.date_this_century().strftime('%d-%m-%Y'),
        'degree_ID': faker.random_int(min=1, max=13),
        'degree_status': faker.random_element(elements=['Enrolled', 'Graduated'])
    },ignore_index=True)

for i in range(22000,23001):
    student_df['email'] = student_df['name'].str.replace(' ', '_').str.lower() + '@' + faker.random_element(elements=email)

In [21]:
student_df

,studentERP,name,email,departmentID,marital_status,phone_number,age,address,gender,date_joined,graduating_year,degree_ID,degree_status
0,22000,William Banks,william_banks@hotmail.com,10,Married,03007377149,22,"2247 Palmer River\nSmithport, HI 52084",Male,06-03-2014,NaN,3,Enrolled
1,22001,Charles Clarke,charles_clarke@hotmail.com,8,Single,03007482288,24,"PSC 5679, Box 1260\nAPO AA 44037",Female,15-02-2021,NaN,1,Enrolled
2,22002,David Sutton,david_sutton@hotmail.com,7,Married,03008683939,20,"327 Stewart Hills\nPort Josestad, KY 39679",Female,22-02-2005,NaN,4,Enrolled
3,22003,Justin Carr,justin_carr@hotmail.com,4,Married,03004959999,20,"66667 Allen Key Suite 462\nPort Kevinchester, ...",Male,08-09-2006,NaN,6,Enrolled
4,22004,Austin Ramos,austin_ramos@hotmail.com,4,Single,03003379300,29,"84412 Craig Hollow\nNorth Jessicaview, NM 51456",Female,13-07-2004,NaN,8,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,22996,Emily Powell,emily_powell@hotmail.com,8,Single,03006908622,19,"953 John Landing\nLake Annachester, PA 25344",Male,14-10-2000,NaN,6,Enrolled
997,22997,Susan Thompson,susan_thompson@hotmail.com,7,Single,03009476157,20,"1075 Ortiz Vista Suite 406\nJanechester, GU 53343",Female,10-11-2010,NaN,6,Graduated
998,22998,Dr. Randy Hamilton,dr._randy_hamilton@hotmail.com,6,Single,03006685926,29,"88522 Walsh Course\nEast Ashleychester, MN 63293",Female,23-10-2014,NaN,13,Graduated
999,22999,Deanna Hudson,deanna_hudson@hotmail.com,7,Married,03007547662,20,"822 Zachary Ville\nMartinezport, WY 16695",Male,20-04-2014,NaN,11,Graduated
1000,23000,Alyssa Collins,alyssa_collins@hotmail.com,6,Single,03005603999,26,"8656 Guy Glens\nNew Tammyberg, CA 17961",Male,16-10-2006,NaN,2,Graduated

In [26]:
student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
student_df['graduating_year'] = student_df.apply(lambda row: row['date_joined'] + pd.DateOffset(years=degree.loc[degree['degree_id'] == row['degree_ID'], 'duration'].iloc[0]), axis=1)

C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '15-02-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-02-2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '13-07-2004' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-08-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '26-07-2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '13-11-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '13-07-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '16-05-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '19-12-2002' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-11-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '26-02-2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '13-09-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '29-08-2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '17-09-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '25-07-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-01-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '21-07-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '19-08-2005' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '30-04-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '21-03-2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '23-07-2002' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '24-11-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '30-05-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '19-08-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '26-10-2003' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-03-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-09-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '29-08-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '30-05-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-05-2004' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '16-07-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '28-12-2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '23-09-2016' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-11-2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '15-04-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-12-2015' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-04-2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '19-10-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-12-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '27-10-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-04-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-03-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '14-12-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '29-03-2018' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '17-08-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '23-06-2003' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '15-04-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '21-12-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '15-11-2001' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '29-08-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '24-10-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '31-01-2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-03-2000' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '25-03-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '25-01-2009' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-09-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '29-08-2004' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-02-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '25-01-2007' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '24-07-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '19-02-2013' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '13-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '15-06-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '25-02-2024' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-03-2010' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '30-08-2008' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '17-03-2003' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '20-12-2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '16-02-2019' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '22-02-2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '14-01-2021' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-01-2014' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '18-11-2006' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])
C:\Users\HP\AppData\Local\Temp\ipykernel_28744\1697640372.py:1: UserWarning: Parsing '23-08-2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  student_df['date_joined'] = pd.to_datetime(student_df['date_joined'])

In [27]:
student_df

,studentERP,name,email,departmentID,marital_status,phone_number,age,address,gender,date_joined,graduating_year,degree_ID,degree_status
0,22000,William Banks,william_banks@hotmail.com,10,Married,03007377149,22,"2247 Palmer River\nSmithport, HI 52084",Male,2014-06-03,2017-06-03,3,Enrolled
1,22001,Charles Clarke,charles_clarke@hotmail.com,8,Single,03007482288,24,"PSC 5679, Box 1260\nAPO AA 44037",Female,2021-02-15,2023-02-15,1,Enrolled
2,22002,David Sutton,david_sutton@hotmail.com,7,Married,03008683939,20,"327 Stewart Hills\nPort Josestad, KY 39679",Female,2005-02-22,2009-02-22,4,Enrolled
3,22003,Justin Carr,justin_carr@hotmail.com,4,Married,03004959999,20,"66667 Allen Key Suite 462\nPort Kevinchester, ...",Male,2006-08-09,2010-08-09,6,Enrolled
4,22004,Austin Ramos,austin_ramos@hotmail.com,4,Single,03003379300,29,"84412 Craig Hollow\nNorth Jessicaview, NM 51456",Female,2004-07-13,2006-07-13,8,Enrolled
...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,22996,Emily Powell,emily_powell@hotmail.com,8,Single,03006908622,19,"953 John Landing\nLake Annachester, PA 25344",Male,2000-10-14,2004-10-14,6,Enrolled
997,22997,Susan Thompson,susan_thompson@hotmail.com,7,Single,03009476157,20,"1075 Ortiz Vista Suite 406\nJanechester, GU 53343",Female,2010-10-11,2014-10-11,6,Graduated
998,22998,Dr. Randy Hamilton,dr._randy_hamilton@hotmail.com,6,Single,03006685926,29,"88522 Walsh Course\nEast Ashleychester, MN 63293",Female,2014-10-23,2017-10-23,13,Graduated
999,22999,Deanna Hudson,deanna_hudson@hotmail.com,7,Married,03007547662,20,"822 Zachary Ville\nMartinezport, WY 16695",Male,2014-04-20,2016-04-20,11,Graduated
1000,23000,Alyssa Collins,alyssa_collins@hotmail.com,6,Single,03005603999,26,"8656 Guy Glens\nNew Tammyberg, CA 17961",Male,2006-10-16,2010-10-16,2,Graduated

In [30]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
student_df.to_excel(writer,sheet_name='student',index=False)
writer.close()

**Guardian**

In [33]:
# Create DataFrame for the "Guardian" table
guardian_df = pd.DataFrame(columns=[
    'cnic', 'student_ERP', 'name', 'email', 'date_of_birth', 
    'gender', 'marital_status', 'address'
])

for i in range(22000,23001):
    guardian_df = guardian_df.append({
        'cnic': '12345-67890-0' + str(i),
        'student_ERP': i,
        'name': faker.name(),
        'date_of_birth': faker.date_of_birth(minimum_age=30, maximum_age=60).strftime('%d-%m-%Y'),
        'gender': faker.random_element(elements=['Male','Female']),
        'marital_status': faker.random_element(elements=['Single', 'Married']),
        'address': faker.address()
    }, ignore_index=True)

for i in range(22000,23001):
    guardian_df['email'] = guardian_df['name'].str.replace(' ', '_').str.lower() + '@' + faker.random_element(elements=email)
guardian_df

,cnic,student_ERP,name,email,date_of_birth,gender,marital_status,address
0,12345-67890-022000,22000,Melanie Lopez,melanie_lopez@gmail.com,27-07-1991,Female,Single,10058 Dodson Highway Suite 896\nPort Jamesmout...
1,12345-67890-022001,22001,Katie Lopez,katie_lopez@gmail.com,30-09-1977,Female,Married,"84189 Smith Circle\nLake Williamberg, WY 10775"
2,12345-67890-022002,22002,Dennis Gregory,dennis_gregory@gmail.com,20-07-1973,Female,Single,"835 Murphy Locks\nMichaelburgh, NC 02972"
3,12345-67890-022003,22003,Elizabeth Ryan,elizabeth_ryan@gmail.com,08-04-1987,Male,Single,USNS Hernandez\nFPO AE 86603
4,12345-67890-022004,22004,Oscar Smith,oscar_smith@gmail.com,27-07-1974,Male,Married,"2530 Sara Manors Apt. 912\nNorth Greg, VI 20680"
...,...,...,...,...,...,...,...,...
996,12345-67890-022996,22996,Matthew Humphrey,matthew_humphrey@gmail.com,17-01-1973,Female,Single,"57261 Julie Viaduct Suite 186\nLake Tina, VI 1..."
997,12345-67890-022997,22997,Paul Stewart MD,paul_stewart_md@gmail.com,19-12-1969,Male,Single,"97890 Jeffrey Ferry Apt. 531\nNew Sabrina, NH ..."
998,12345-67890-022998,22998,Thomas Crosby,thomas_crosby@gmail.com,16-07-1993,Female,Married,"2013 Jessica Shore\nEast Cynthiaton, TX 75199"
999,12345-67890-022999,22999,Charles Johnson,charles_johnson@gmail.com,02-10-1967,Male,Single,5834 Carter Corners Suite 864\nEast Kristenmou...
1000,12345-67890-023000,23000,Lisa Bennett,lisa_bennett@gmail.com,19-09-1972,Female,Married,"8356 Autumn Prairie\nStevensonburgh, GU 31434"

In [34]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
guardian_df.to_excel(writer,sheet_name='guardian',index=False)
writer.close()

**Student_Courses**

In [36]:
student_courses = pd.DataFrame(columns=['studentERP', 'course_id', 'semester_enrolled', 'status', 'grade'])

for i in range(1,3000):
    student_courses = student_courses.append({
        'studentERP': faker.random_int(min=22000, max=23000),
        'course_id': faker.random_int(min=1, max=300),
        'semester_enrolled': faker.random_element(elements=['Spring', 'Fall']),
        'status': faker.random_element(elements=['Enrolled', 'Completed']),
        'grade': faker.random_element(elements=['A', 'B', 'C', 'D', 'F'])
    }, ignore_index=True)

student_courses

     studentERP course_id semester_enrolled     status grade
0         22872        86              Fall   Enrolled     D
1         22522        56              Fall  Completed     D
2         22038        98              Fall  Completed     A
3         22188       113            Spring   Enrolled     F
4         22400       258              Fall  Completed     B
...         ...       ...               ...        ...   ...
2994      22444       117              Fall   Enrolled     F
2995      22994       102              Fall   Enrolled     F
2996      22107       289            Spring  Completed     C
2997      22027       158              Fall  Completed     D
2998      22017       230            Spring  Completed     B

[2999 rows x 5 columns]

In [37]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
student_courses.to_excel(writer,sheet_name='student_courses',index=False)
writer.close()

**Evaluation**

In [40]:
evaluation_df = pd.DataFrame(columns=[
    'evaluationID', 'courseID', 'studentERP', 'learningRating', 
    'gradingRating', 'workloadRating', 'comment', 'date', 'upvotes'
])

for i in range(1, 1000):
    evaluation_df = evaluation_df.append({
        'evaluationID': i,
        'courseID': faker.random_int(min=1, max=300),
        'studentERP': faker.random_int(min=22000, max=23000),
        'learningRating': faker.random_int(min=1, max=5),
        'gradingRating': faker.random_int(min=1, max=5),
        'workloadRating': faker.random_int(min=1, max=5),
        'comment': faker.text(),
        'date': faker.date_this_century().strftime('%d-%m-%Y'),
        'upvotes': faker.random_int(min=0, max=100)
    }, ignore_index=True)

evaluation_df

,evaluationID,courseID,studentERP,learningRating,gradingRating,workloadRating,comment,date,upvotes
0,1,96,22899,4,2,3,Wind Mr significant special many positive fron...,13-07-2007,16
1,2,267,22727,4,4,3,Recognize art should certain personal say. Sim...,05-06-2005,0
2,3,143,22859,1,5,1,Market more present.\nSure meeting herself wif...,21-07-2018,90
3,4,215,22852,4,5,3,Maintain network hospital coach someone whole ...,23-03-2018,74
4,5,2,22693,4,4,1,It just rich heavy. Product age both room ask ...,02-01-2022,49
...,...,...,...,...,...,...,...,...,...
994,995,279,22995,3,1,5,Far because despite say protect. Dream herself...,06-11-2014,83
995,996,223,22864,2,2,5,Environment big oil management property sister...,12-11-2008,91
996,997,200,22111,4,2,4,Environmental color less behind nature land wh...,23-06-2018,71
997,998,146,22535,5,3,4,Lawyer radio put the mother. Hour pay nor tabl...,03-10-2006,25
998,999,44,22174,1,4,3,Week your thousand identify who art describe. ...,30-11-2015,50

In [41]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
evaluation_df.to_excel(writer,sheet_name='evaluation',index=False)
writer.close()

**Evaluation_Upvotes**

In [42]:
evaluation_upvotes_df = pd.DataFrame(columns=[
    'ID', 'evaluationID', 'student_ERP'
])

for i in range(1, 1000):
    evaluation_upvotes_df = evaluation_upvotes_df.append({
        'ID': i,
        'evaluationID': faker.random_int(min=1, max=1000),
        'student_ERP': faker.random_int(min=22000, max=23000)
    }, ignore_index=True)

In [43]:
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
evaluation_upvotes_df.to_excel(writer,sheet_name='evaluation_upvotes',index=False)
writer.close()

**Rooms**

In [49]:
room_df = pd.DataFrame(columns=[
    'room_number', 'Hostel_ID', 'no_of_beds', 
    'attached_bathroom', 'attached_kitchen'
])

for i in range(1, 201):
    room_df = room_df.append({
        'room_number': i,
        'Hostel_ID': faker.random_int(min=1, max=4),
        'no_of_beds': faker.random_int(min=1, max=4),
        'attached_bathroom': faker.random_element(elements=['Yes', 'No']),
        'attached_kitchen': faker.random_element(elements=['Yes', 'No'])
    }, ignore_index=True)

room_df

    room_number Hostel_ID no_of_beds attached_bathroom attached_kitchen
0             1         1          3                No              Yes
1             2         2          3               Yes              Yes
2             3         3          4                No               No
3             4         4          4                No              Yes
4             5         1          1               Yes              Yes
..          ...       ...        ...               ...              ...
195         196         2          4               Yes              Yes
196         197         2          2               Yes               No
197         198         3          1               Yes              Yes
198         199         3          4                No              Yes
199         200         4          2                No               No

[200 rows x 5 columns]

**Student_Room**

In [3]:
student_room = pd.DataFrame(columns=['room_number', 'student_ERP'])

for i in range(1,400):
    student_room = student_room.append({
        'room_number': faker.random_int(min=1, max=200),
        'student_ERP': faker.random_int(min=22000, max=23000)
    }, ignore_index=True)

student_room

    room_number student_ERP
0            82       22720
1           122       22133
2           177       22375
3            78       22018
4            86       22999
..          ...         ...
394          68       22886
395         176       22959
396          25       22886
397         111       22199
398         123       22530

[399 rows x 2 columns]

In [5]:
#write to file
writer = pd.ExcelWriter('datapopulation.xlsx', engine='openpyxl',mode='a')
# room_df.to_excel(writer,sheet_name='rooms',index=False)
student_room.to_excel(writer,sheet_name='student_room',index=False)
writer.close()

**Student_grade**

In [ ]:
student_grade = pd.DataFrame(columns=['student_grade_id''studentERP', 'course_ID','grade','percentage'])

for i in range(1, 500):
    student_grade = student_grade.append({
        'student_grade_id': i,
        'studentERP': faker.random_int(min=22000, max=23000),
        'course_ID': faker.random_int(min=1, max=300),
        'grade': faker.random_element(elements=['A', 'B', 'C', 'D', 'F']),
        'percentage': faker.random_int(min=50, max=100)
    }, ignore_index=True)